body{
    background-image: url(pattern-tile.png);
    background-repeat: repeat;
}
section{
    border: 5px dotted #5858d9;
    align-self: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 50px;
    margin: 5px;
}
div{
    border: 2px solid #5858d9;
    margin: 8px;
}
h1,p,h3,a{
    color: #6f6fd8;
    font-family: 'Courier New', Courier, monospace;
}
h3{margin-left: 40px;}
p{
    margin-left: 6px;
}
a:hover{
    color: #3f3fff;
}
a:active{
    color: #c1c1ff;
}
li{
    list-style: none;
}
