.top{
    display: flex;
    background-color: #181818;
    ;
    justify-content: space-around;
    margin: 0px;
    align-items: center;
}
.topped{color: white;padding-left: px;}
body{
    margin: 0px;
}

p,h3{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
#Button{
    border: white;
    background-color: white;
    color: black;
    border-radius: 14px;
    padding: 10px;
    margin-left: 15px;
}
#horisontal,#vertical{
    display: flex;
    align-items: center;
}
#horisontal{flex-direction: row;}
#vertical{flex-direction: column;}
table{
    margin: 50px;
}